<div class="flex items-center gap-2 justify-between px-6">
    <!-- Search Input -->
    <div class="relative flex items-center gap-2">
        <input type="text" placeholder="Search..." [(ngModel)]="searchTerm"
            class="h-full outline-none rounded-md px-3" />

        <!-- Clear button -->
        <button *ngIf="searchTerm" (click)="clearSearch()"
            class="text-2xl absolute opacity-90 rounded-full right-[1.5rem]">
            &times; <!-- Cross icon -->
        </button>
    </div>


    <div class="flex items-center">
        <button (click)="openFormModal()"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800">
            Add project
        </button>
    </div>
</div>

<!-- Conditionally show the modal when isFormModalOpen is true -->
<app-project-form *ngIf="isFormModalOpen" [projectId]="selectedProjectId" (closeModalEvent)="closeFormModal()"
    (formSubmitEvent)="handleFormSubmit($event)"></app-project-form>

<!-- Show message when no projects are found (for search and initial load) -->
<div *ngIf="(filteredProjects | searchProject: searchTerm).length === 0 && !searchTerm"
    class="text-center text-xl mt-10">
    No Projects Yet
</div>
<div *ngIf="(filteredProjects | searchProject: searchTerm).length === 0 && searchTerm"
    class="text-center text-xl mt-10">
    No Projects Found matching your search
</div>

<!-- If projects exist, display them -->
<div *ngIf="(filteredProjects).length > 0">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-6 p-6">
        <!-- Filtered projects will be displayed here using the pipe -->
        <div *ngFor="let project of filteredProjects | searchProject: searchTerm">
            <app-project-card [project]="project" (emitter)="deleteProject($event)"
                (editProjectEvent)="openEditForm($event)">
            </app-project-card>
        </div>
    </div>
</div>