<div class="container mx-auto px-4 flex flex-col min-h-screen justify-between">
    <!-- Display the Project Name -->
    <h3 class="text-xl" [innerHTML]="queryText"></h3>

    <!-- Queries Section -->
    <div class="flex-grow">
        <div *ngIf="isLoading" class="text-center">
            <p>Loading queries...</p>
        </div>

        <div *ngIf="!isLoading && replies.length === 0" class="text-center">
            <p>No replies found.</p>
        </div>
        <ol *ngIf="!isLoading && replies.length > 0" type="1" class="mb-4">
            <li *ngFor="let reply of replies" class="border-b py-2 flex justify-between items-center">
                <div>
                    <p class="text-[11px]"><strong>&#64;
                        </strong> {{reply.user.Username}}</p>
                    <p [innerHTML]="reply.reply"></p>
                </div>
            </li>
        </ol>
    </div>

    <!-- Form for submitting new queries -->
    <form [formGroup]="queryForm" (ngSubmit)="onSubmit()"
        class="fixed bottom-0 left-0 right-0 bg-white px-4 py-4 shadow-lg">
        <div class="flex justify-center items-center gap-2">
            <div class="w-[85%]">
                <editor class="w-full" formControlName="reply" apiKey="81h2pcaim7npiajvctk9bdqg3emnrg06d36c7k9lklz1adio"
                    [init]="{
                            height: 130,
                            width: '100%',
                            menubar: false,
                            plugins: 'link image code',
                            toolbar: 'undo redo | bold italic underline strikethrough | spellcheckdialog a11ycheck typography | removeformat ',
                        }">
                </editor>
                <div *ngIf="queryForm.invalid && queryForm.get('reply')?.touched" class="text-red-500 mt-2">
                    Query is required and must not be empty.
                </div>
            </div>
            <button type="submit" [disabled]="queryForm.invalid"
                class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-500">
                <i class="ri-send-plane-line"></i></button>
        </div>

    </form>
</div>