<div class="flex items-center justify-between px-6">
    <div class="relative flex items-center gap-2">
        <input type="text" placeholder="Search..." [(ngModel)]="searchTerm"
            class="w-[80%] md:w-[90%] h-full outline-none rounded-md px-3" />

        <!-- Clear button -->
        <button *ngIf="searchTerm" (click)="clearSearch()"
            class="text-2xl absolute opacity-90 rounded-full right-[6rem]">
            &times; <!-- Cross icon -->
        </button>

        <!-- Search button -->
        <button (click)="onSearch()"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-500 rounded-lg hover:bg-blue-600">
            Search
        </button>
    </div>
</div>

<!-- If no projects found, show a message -->
<div *ngIf="(filteredProjects | searchProject: searchTerm).length === 0 && searchTerm" class="text-center text-2xl">
    No Projects Found
</div>

<!-- If projects exist, display them -->
<div *ngIf="(filteredProjects | searchProject: searchTerm).length > 0">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-6 p-6">
        <!-- Filtered projects will be displayed here using the pipe -->
        <div *ngFor="let project of filteredProjects | searchProject: searchTerm">
            <app-project-card [project]="project">
            </app-project-card>
        </div>
    </div>
</div>